/* styles.css */

/* Header styles */
header {
    background-color: #f9a407;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Hero section styles */
  #hero {
    background-color: black;
    padding: 50px;
    text-align: center;
    color: white;
  }
  
  #hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f9a407;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Product details section styles */
  #product-details {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: black;
    color: white;
  }
  
  .product-image img {
    width: auto;
    height: auto;
    
  }
  
  .product-info {
    text-align: center;
  }
  
  #add-to-cart {
    padding: 10px 20px;
    background-color: #f9a407;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Footer styles */
  footer {
    background-color: #f9a407;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  